html {
  background-color: #fff3bf;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
}

body {
  margin: auto;
}

.canvas {
  grid-area: n;
}

.form {
  grid-area: c;
  margin: auto;
  align-content: center;
}

.table {
  grid-area: t;
  margin: auto;
}

@media screen and (min-width: 1247px) {
  .main {
    display: grid;
    margin-top: 30px;
    grid-template-rows: 520px 1fr;
    grid-template-columns: 50% 50%;
    width: 1000px;
    justify-items: center;
    grid-template-areas:
            "n c"
            "t t";

  }

  #form_button {
    font-size: 17px;
  }

  .input {
    width: 150px;
    height: 20px;

    font-size: 15px;
  }
  .headButton {
    margin: 20px;
    padding: 4px 12px;
    font-size: 15px;
  }

  #login_form{
    font-size: 15px;
  }
  #singup_form{
    font-size: 15px;
  }
}
@media screen and (max-width: 1246px) and (min-width: 707px) {


  .string, #back label{
    font-size: 18px;
  }

  .main {
    display: grid;
    margin-top: 5px;
    grid-template-rows: 450px 520px 1fr;
    grid-template-columns: 1fr;
    width: 1000px;
    justify-items: center;
    grid-template-areas:
            "n"
            "c"
            "t";

  }
  #form_button {
    width: 190px;
    height: 45px;
    font-size: 20px;
  }

  .input {
    width: 220px;
    height: 40px;
    font-size: 20px;
  }

  .headButton {
    margin: 20px;
    padding: 8px 20px;
    font-size: 18px;
  }

  .mainButton {
    padding: 12px 22px;
    font-size: 17px;
  }


  .canvas{
    margin: auto;
  }

  #login_form{
    font-size: 18px;
  }
  #singup_form{
    font-size: 18px;
  }


}
@media screen and (max-width: 706px) {

  .string, #back label{
    font-size: 22px;
  }

  .main {
    display: grid;
    margin-top: 5px;
    grid-template-rows: 450px 520px 1fr;
    grid-template-columns: 1fr;
    width: 500px;
    justify-items: center;
    grid-template-areas:
            "n"
            "c"
            "t";

  }
  #form_button {
    width: 200px;
    height: 50px;
    font-size: 23px;
  }

  .input {
    width: 250px;
    height: 50px;
    font-size: 25px;
  }

  .mainButton {
    padding: 14px 24px;
    font-size: 19px;
  }


  #top_header{
    margin: 10px auto;
  }

  .canvas{
    margin: auto;
  }

  .headButton {
    margin: 20px;
    padding: 10px 24px;
    font-size: 20px;
  }
  #login_form{
    font-size: 20px;
  }
  #singup_form{
    font-size: 20px;
  }
}

.headButton {
  width: 120px;
  line-height: 20px;
  background-color: #bfafdd;
  border: 1px solid #332253;
  text-shadow: 0 2px 2px rgba(161, 128, 204, 0.75);
  transition-duration: 0.3s;
  border-radius: 40%;
  text-decoration: none;
}

#head {
  text-align: center;
  grid-area: h;
  margin: 15px auto;
}

#head p {
  font-size: 13px;
  font-style: italic;
}

#root {
  overflow: hidden;
  width: 1000px;
  margin: auto;
  background-color: #fff9e0;
}

svg {
  background-color: #fff3bf;
  border: 6px solid #fffff0;
  padding: 40px;
  width: 400px;
  height: 400px;
}


#form_button {
  cursor: pointer;
  width: 180px;
  height: 40px;
  background-color: #c0a0fa;
  border: 2px solid #332253;
  margin: 20px auto;
}

#form_button:hover {
  background-color: #ffdaba;
  border: 2px solid #000000;
}

#form_button:focus {
  background-color: #f2c9a5;
  border: none;
}

.rectangle:hover,
.circle:hover,
.triangle:hover {
  fill: #6eff86;
  stroke: #206e2d;
}

.block {
  width: 300px;
  height: 140px;
  padding: 8px;
  background-color: #ffdaba;
  border: 3px dotted #ffffff;
  margin: auto;
}

#form {
  width: 400px;
}

td {
  width: 100px;
}

.checkbox-label {
  margin: 40px;
}

#resultTable {
  border-collapse: separate;
  width: 960px;
}

#resultTable th {
  background-color: #fffdd1;
  color: black;
}

#resultTable * {
  padding: 25px;
}

.input {
  margin: 5px;
  background-color: #e1d9f1;
  border: 1px solid #332253;
  border-radius: 20%;
}

.input:focus {
  background-color: rgb(255, 245, 226);
  border: none;
}

.input:hover {
  border: none;
}

.mainButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: #fff;
  background-color: #795faa;
  outline: none;
  cursor: pointer;
}

.mainButton:hover {
  border: 1px solid #795faa;
  border-radius: 5px;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: rgb(90, 53, 112);
  background-color: #efe6ff;
}

.route {
  padding: 10px;
}

.headButton:hover {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
.headButton:hover:before {
  opacity: 1;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.headButton:hover,
.headButton:focus {
  -webkit-animation: linear 2.2s light infinite;
  -moz-animation: linear 2.2s light infinite;
  -o-animation: linear 2.2s light infinite;
  animation: linear 2.2s light infinite;
}
@-webkit-keyframes light {
  0% {
    background-color: #e7dff5;
    color: rgb(156, 121, 173);
  }
  50% {
    background-color: #dbcef1;
    color: rgb(34, 18, 41);
  }
  100% {
    background-color: #ad99cf;
    color: rgb(130, 90, 153);
  }
}
@-moz-keyframes light {
  0% {
    background-color: #e7dff5;
    color: rgb(156, 121, 173);
  }
  50% {
    background-color: #dbcef1;
    color: rgb(34, 18, 41);
  }
  100% {
    background-color: #ad99cf;
    color: rgb(130, 90, 153);
  }
}
@-o-keyframes light {
  0% {
    background-color: #e7dff5;
    color: rgb(156, 121, 173);
  }
  50% {
    background-color: #dbcef1;
    color: rgb(34, 18, 41);
  }
  100% {
    background-color: #ad99cf;
    color: rgb(130, 90, 153);
  }
}
@keyframes light {
  0% {
    background-color: #e7dff5;
    color: rgb(156, 121, 173);
  }
  50% {
    background-color: #dbcef1;
    color: rgb(34, 18, 41);
  }
  100% {
    background-color: #ad99cf;
    color: rgb(130, 90, 153);
  }
}
.headButton:focus {
  border: none;
}

.error {
  color: #bb2a2a;
  padding: 10px;
}



#back{
  margin: 10px auto;
}